@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --link-color: #0d6efd;
}

html {
  font-size: 22px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
}

a {
  color: var(--link-color);
}

input {
  font-family: inherit;
  font-size: 0.8em;
  padding: 0.4em;
}
input[type="radio"] {
  min-width: initial;
}

select {
  font-size: .8em;
  padding: .35em;
}